  .beat-block {
    background: #000;
    color: #FFF;
    padding: 0 2rem 0 0;
    margin-bottom: 2rem;

    @media only screen and (max-width: 1200px) {
      font-size: 1rem;
    }

    @media only screen and (max-width: 767px) {
      flex-direction: column;
      padding: 0 0 1rem 0;
      gap: 1rem;

      .flexBox {
        width: 100%;
        justify-content: flex-start;
      }

      &-cta {
        padding: 0 1rem;
        width: 100%;

        button {
          width: 100%;
        }
      }
    }

    &-image {
      width: 120px;
      height: 120px;
      background: url("./assets/images/ghettoblaster.jpg") center;
      background-size: cover;
      border-radius: 2px;
    }

    &-info {
      h3 {
        margin-bottom: 0.5em;
      }

      h4 {
        margin-bottom: 0.25em;
      }
    }

    &-cta button i {
      color: #FFF;
    }
  }
