  .beat-block {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #FFF;

    @media only screen and (max-width: 1200px) {
      font-size: 1rem;
    }

    @media only screen and (max-width: 767px) {
      flex-direction: column;
      padding: 0 0 1.5rem 0;
      gap: 1.5rem;

      .flexBox {
        width: 100%;
        justify-content: flex-start;
      }

      &-cta {
        width: 100%;

        button {
          width: 100%;
        }
      }
    }

    &-image {
      width: 120px;
      height: 120px;

      img {
        width: 120px;
        height: 120px;
        object-fit: cover;
      }
    }

    &-info p {
      line-height: 2;
      margin-bottom: 0;
       span {
         font-weight: 700;
      }
    }
  }
