.detail-page {
  &.flexBox {
    flex-wrap: nowrap;
  }
  &-image {
    flex: 0 0 60%;
    width: 100%;
    height: 400px;
    background: url("./../../../assets/images/ghettoblaster.jpg") top center;
    background-size: cover;
    border-radius: 2px;
  }

  &-info {
    flex: 0 0 40%;
  }
}

@media only screen and (max-width: 767px) {
  .detail-page {
    &.flexBox {
      flex-direction: column;
    }
    &-image {
      flex: 0 0 100%;
      width: 100%;
      height: auto;
      aspect-ratio: 4/2;
    }
  }
}