.detail-page {
  .title-block {
    margin-bottom: 1rem;

    h2 {
      margin: 0;
    }
  }

  &.flexBox {
    flex-wrap: nowrap;
  }

  .audio-block {
    margin-bottom: 2rem;

    audio {
      width: 100%;
    }
  }

  ul {
    width: 50%;

    li {
      border-bottom: 1px solid #FFF;
      padding: 12px 0;
    }

    @media only screen and (max-width: 500px) {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .detail-page {
    &.flexBox {
      flex-direction: column;
    }

  }
}
 .popup-detail-page .btn-inverted:hover {
  color: #121212;
  background: #FFF;
}