/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
        -Fonts
        -CSS rest
        -Global Setup
        -Buttons
    2. Typografie
    3. Areas
        -Forms
        -Pop-up
        -Toaster
////////////////////////////////////////////////////////////////////////*/

/*////////////////////////
    1. Global Styles
////////////////////////*/

/* Fonts */

/*  Titles + labels form */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,90,100..900;1,90,100..900&display=swap');

/* HeaderComponent Title */
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

/* Text font */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300..700&display=swap');

/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Red Hat Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 90;
  line-height: 1.1;
  margin: 0 0 0.5rem;
}

h1, h2 {
  font-family: "Zen Dots", sans-serif;
  text-transform: uppercase;
}

ul {
  list-style: none;
  margin-bottom: 1rem;

  li {
    line-height: 1.8;
  }
}

p {
  line-height: 1.8;
  margin-bottom: 1rem;
}

.btnReset {
  border: none;
  background: none;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

/* Global Setup */
body {
  background-color: #121212;
  color: #FFF;
  font-family: "Red Hat Mono", monospace;
  font-weight: 200;
  font-style: normal;
  font-size: 16px;
  font-variation-settings: "wdth" 90;
}

main {
  min-height: calc(100vh - 260px);
  height: 100%;

  @media only screen and (max-width: 767px) {
    min-height: calc(100vh - 240px);
  }

  @media only screen and (max-width: 500px) {
    min-height: calc(100vh - 220px);
  }
}

.main-content-block {
  padding: 5rem 0 5rem;

  @media only screen and (max-width: 1200px) {
    padding: 4rem 0 4rem;
  }

  @media only screen and (max-width: 767px) {
    padding: 3rem 0 3rem;
  }

  @media only screen and (max-width: 500px) {
    padding: 2rem 0 2rem;
  }
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;

  @media only screen and (max-width: 767px) {
    padding: 0 1.5rem;
  }

  @media only screen and (max-width: 500px) {
    padding: 0 1rem;
  }
}

.small-container {
  max-width: 860px;

  @media only screen and (max-width: 1200px) {
    max-width: 720px;
  }

  @media only screen and (max-width: 767px) {
    max-width: 640px;
  }

  @media only screen and (max-width: 500px) {
    max-width: 420px;
  }
}

.extra-small-container {
  max-width: 660px;


  @media only screen and (max-width: 767px) {
    max-width: 540px;
  }

  @media only screen and (max-width: 500px) {
    max-width: 420px;
  }
}

.flexBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.justify-content {
  &-space-between {
    justify-content: space-between;
  }

  &-flex-start {
    justify-content: flex-start;
  }

  &-center {
    justify-content: center;
  }
}

.align-items {
  &-top {
    align-items: start;
  }

  &-stretch {
    align-items: stretch;
  }

  &-flex-end {
    align-items: flex-end;
  }
}

.flex-direction {
  &-column {
    flex-direction: column;
  }
}

.flex {
  &-20 {
       flex: 0 0 20%;
     }
  &-30 {
    flex: 0 0 30%;
  }
  &-40 {
    flex: 0 0 40%;
  }
  &-50 {
    flex: 0 0 50%;
  }
  &-60 {
    flex: 0 0 60%;
  }
  &-70 {
    flex: 0 0 70%;
  }
  &-80 {
    flex: 0 0 80%;
  }

  @media only screen and (max-width: 767px) {
    &-20 {
      flex: 0 0 100%;
    }
    &-30 {
      flex: 0 0 100%;
    }
    &-40 {
      flex: 0 0 100%;
    }
    &-50 {
      flex: 0 0 100%;
    }
    &-60 {
      flex: 0 0 100%;
    }
    &-70 {
      flex: 0 0 100%;
    }
    &-80 {
      flex: 0 0 100%;
    }
  }
}

.no-wrap {
  flex-wrap: nowrap;
}

.gap {
  gap: 0.5rem;

  &-1 {
    gap: 1rem;
  }
  &-2 {
    gap: 2rem;
  }
  &-4 {
    gap: 4rem;
  }
}

.w-100 {
  width: 100%;
}

img {
  width: 100%;
}

.hide {
  display: none;
}

@media only screen and (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }
}

/* button */

.btn {
  background: #000;
  border: none;
  color: #FFF;
  padding: 0.5rem 1em;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 2px;
  font-weight: 500;
  cursor: pointer;

  &-inverted {
    background-color: #FFF;
    color: #000;
  }

  &-small {
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
  }

  &-big {
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
  }

  &-border {
    border: 1px solid #FFF;
  }
}


/*////////////////////////
    2. Typography
////////////////////////*/

h1 {
  font-size: 3.5rem;
  margin-bottom: 0.5em;

  @media only screen and (max-width: 1024px) {
    font-size: 3rem;
  }

  @media only screen and (max-width: 767px) {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem
}

h4 {
  font-size: 1.2rem;
}

p {
  margin-bottom: 2rem;
}

input,
button {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: #FFF;
}

p > a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.text-align-center {
  text-align: center;
}

.text-transform-uppercase {
  text-transform: uppercase;
}


/*////////////////////////
    3. Areas
////////////////////////*/

/* Forms */

form {
  margin-bottom: 2rem;
}
label {
  display: block;
  line-height: 1.8;
  margin-bottom: 0.75rem;
}

input {
  display: block;
  border-radius: 2px;
  border: 1px solid;
  padding: 0.25rem 0.75rem;
  width: 100%;
}

.form-block {
  border-bottom: 1px solid #FFF;
  margin-bottom: 2rem;

  .btn {
    margin-top: 0.5rem;
  }
}

.error-message {
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 700;
  color: #FF0000;
}

/* Popup */

.popup-overlay {
  background: #000000d4;
}

.popup-content {
  background: #FFF;
  color: #000;
  padding: 2rem;
  max-width: 600px;
  width: 100%;

  .form-block {
    margin: 0;

    form {
      margin-bottom: 1rem;
    }
  }
}

.close {
  cursor: pointer;
  position: absolute;
  right: 36px;
  top: 32px;
  font-size: 1.5rem;
}

/* Toaster */

.toast-container div {
  opacity:1 !important;
}